In [13]:
import pandas as pd

In [14]:
df_en=pd.read_json('OneDrive_1_22-1-2026/cc100_en.jsonl',lines=True)
df_mn=pd.read_json('OneDrive_1_22-1-2026/cc100_mn.jsonl',lines=True)

In [15]:
def white_space_remover(text):
    return " ".join(text.split())   
df_en["text"]=df_en["text"].apply(white_space_remover)
df_mn["text"]=df_mn["text"].apply(white_space_remover)

In [16]:
df_en.head()
# df.shape

                                                text
0  Belmont Estate is on the market for $63 millio...
1  “Within the city we’ve had homes that have sol...
2  The three-storey home has five bedrooms, twelv...
3  Surrounding the property is a Versailles-inspi...
4  According to Frosch, the listing has received ...

In [17]:
df_mn.head()

                                                text
0  Түмэнбаярын Бум-Эрдэнэ: “Дотроосоо” - 2 (Өгүүл...
1                                  Маш их таалагдлаа
2  Хэцүү юмдаа, хүний амьдрал. Хажуудаа жаргал нь...
3  хаа очиж аймшгийн байсан амьдрал ингэж нэг хэв...
4  Бум ахын өгүүллэгүүд яг л хуучны кино шиг сана...

In [18]:
def white_space_tokenizer(text):
    return text.split()

In [ ]:
lis=[]
for i in range(len(df_en)):
    lis.append(white_space_tokenizer(df_en["text"].iloc[i]))

'This is a sample text.'