In [18]:
import pandas as pd

In [19]:
df=pd.read_json('OneDrive_1_22-1-2026/cc100_en.jsonl',lines=True)
df1=pd.read_json('OneDrive_1_22-1-2026/cc100_mn.jsonl',lines=True)

In [20]:
# df["text"]=df["text"].str.lower()

In [21]:
df.head()
df.shape

(1000000, 1)

In [22]:
df1.head()

                                                text
0  Түмэнбаярын Бум-Эрдэнэ: “Дотроосоо” - 2 (Өгүүл...
1                                  Маш их таалагдлаа
2  Хэцүү юмдаа, хүний амьдрал. Хажуудаа жаргал нь...
3  хаа очиж аймшгийн байсан амьдрал ингэж нэг хэв...
4  Бум ахын өгүүллэгүүд яг л хуучны кино шиг сана...

In [23]:
def white_space_tokenizer(text):
    return text.split()

In [24]:
lis=[]
for i in range(len(df)):
    lis.append(white_space_tokenizer(df["text"].iloc[i]))

In [25]:
lis[1]

['“Within',
 'the',
 'city',
 'we’ve',
 'had',
 'homes',
 'that',
 'have',
 'sold',
 'for',
 '$56',
 'million,',
 '$33',
 'million,',
 '$31',
 'million',
 'but',
 'this',
 'will',
 'be',
 'the',
 'record',
 'of',
 'the',
 'offering',
 'price,”',
 'listing',
 'agent',
 'Christa',
 'Frosch',
 'of',
 'Sotheby’s',
 'tells',
 'BuzzBuzzNews.']